In [3]:
import pandas as pd
from IPython.display import display

In [4]:
xlsx = pd.ExcelFile("Business_data.xlsx")
df = pd.read_excel(xlsx, "Online Retail")
#display(df)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [6]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [7]:
## drop duplicates

In [8]:
df=df.drop_duplicates()

In [9]:
df.shape

(536641, 8)

In [10]:
## checking records with 0 as unit price
zero_unitprice_rows = df[df['UnitPrice'] == 0] 
zero_unitprice_rows

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,2010-12-01 11:52:00,0.0,NaN,United Kingdom
1970,536545,21134,NaN,1,2010-12-01 14:32:00,0.0,NaN,United Kingdom
1971,536546,22145,NaN,1,2010-12-01 14:33:00,0.0,NaN,United Kingdom
1972,536547,37509,NaN,1,2010-12-01 14:33:00,0.0,NaN,United Kingdom
1987,536549,85226A,NaN,1,2010-12-01 14:34:00,0.0,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
536981,581234,72817,NaN,27,2011-12-08 10:33:00,0.0,NaN,United Kingdom
538504,581406,46000M,POLYESTER FILLER PAD 45x45cm,240,2011-12-08 13:58:00,0.0,NaN,United Kingdom
538505,581406,46000S,POLYESTER FILLER PAD 40x40cm,300,2011-12-08 13:58:00,0.0,NaN,United Kingdom
538554,581408,85175,NaN,20,2011-12-08 14:06:00,0.0,NaN,United Kingdom
538919,581422,23169,smashed,-235,2011-12-08 15:24:00,0.0,NaN,United Kingdom

In [11]:
## checking records with 0 as unit price and null customer_id
cu_zero = df[df['UnitPrice'] == 0 & df['CustomerID'].isna()] 
cu_zero
df.shape

(536641, 8)

In [12]:
## dropping all records with values 0 as unit price
df = df[df['UnitPrice'] != 0.0]
df.shape

(534131, 8)

In [13]:
## replacing negative signs for unit price
df["UnitPrice"]=df["UnitPrice"].astype(str).str.lstrip("-")

In [14]:
df.shape

(534131, 8)

In [15]:
#remove unrequired characters in the description
df["Description"]=df["Description"].str.strip() #extra spaces at the ends
df["Description"]=df["Description"].str.replace("*",'') #replacing asterisks
df["Description"]=df["Description"].str.replace(r'\s+', ' ', regex=True) #more than one space

In [16]:
##removing records where quantity is lesser than 1
df= df[df['Quantity'] > 0]

In [17]:
## checking for invalid stockcode
invalid_Stock = df[df['StockCode'].str.len() ==1]
invalid_Stock

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
2239,536569,M,Manual,1,2010-12-01 15:35:00,1.25,16274.0,United Kingdom
2250,536569,M,Manual,1,2010-12-01 15:35:00,18.95,16274.0,United Kingdom
5684,536865,M,Manual,1,2010-12-03 11:28:00,2.55,NaN,United Kingdom
6798,536981,M,Manual,2,2010-12-03 14:26:00,0.85,14723.0,United Kingdom
7976,537077,M,Manual,12,2010-12-05 11:59:00,0.42,17062.0,United Kingdom
...,...,...,...,...,...,...,...,...
526015,580645,M,Manual,1,2011-12-05 13:11:00,219.5,17857.0,United Kingdom
526018,580646,M,Manual,800,2011-12-05 13:13:00,0.25,17857.0,United Kingdom
530876,580884,M,Manual,1,2011-12-06 12:21:00,0.85,15907.0,United Kingdom
531432,580956,M,Manual,4,2011-12-06 14:23:00,1.25,17841.0,United Kingdom
538321,581405,M,Manual,3,2011-12-08 13:50:00,0.42,13521.0,United Kingdom

In [19]:
## deleting stock codes such as "BANK CHARGES", carriage(C2) , M(manual), S(Samples), D(Discount), POST+DOT, AMAZONFEE, bank debt(B), commission(CRUK), gift_vouchers
stock_codes = ["BANK CHARGES", "C2", "M", "S", "D", "POST","AMAZONFEE","CRUK","DOT","B",'m','gift_0001_10','gift_0001_20','gift_0001_30','gift_0001_40','gift_0001_50','PADS']
df = df[~df['StockCode'].isin(stock_codes)]

In [20]:
df['InvoiceDate']

0        2010-12-01 08:26:00
1        2010-12-01 08:26:00
2        2010-12-01 08:26:00
3        2010-12-01 08:26:00
4        2010-12-01 08:26:00
                 ...
541904   2011-12-09 12:50:00
541905   2011-12-09 12:50:00
541906   2011-12-09 12:50:00
541907   2011-12-09 12:50:00
541908   2011-12-09 12:50:00
Name: InvoiceDate, Length: 522537, dtype: datetime64[ns]

In [21]:
#generate a customer id 
date =""
custom_id=18287 #since the last customer id is 18287

for i in df.index:

    if pd.isnull(df.loc[i,"CustomerID"]) and str(df.loc[i,"InvoiceDate"])== date:
        df.loc[i,"CustomerID"] = custom_id
        
    elif pd.isnull(df.loc[i,"CustomerID"]) :
        date = str(df.loc[i,"InvoiceDate"])
        custom_id+=1
        df.loc[i,"CustomerID"] = custom_id

In [22]:
##reformatting date as dd/mm/yyyy
df["InvoiceDate"]=df["InvoiceDate"].astype(str).str.replace("-","/")
df["InvoiceDate"]=pd.to_datetime(df['InvoiceDate']).dt.strftime('%d/%m/%Y')

In [23]:
df.shape

(522537, 8)

In [24]:
df.to_csv("df.csv",index=False)

In [25]:
df.to_excel('df.xlsx', index=False)